@font-face
  font-family: 'Exo-Thin'
  src: url('./../fonts/Exo2.0-Thin.otf') format('opentype')

@font-face
  font-family: 'Trebuchet MS'
  src: url('./../fonts/trebuchet-ms.ttf') format('truetype')
